@model Jeebs.Mvc.Auth.Models.DeniedModel

@{
	ArgumentNullException.ThrowIfNull(Model);
}

<div class="text-danger">
	@if (Model.AccessUrl is string url)
	{
		<text>Access to @url was denied.</text>
	}
	else
	{
		<text>Access denied.</text>
	}
</div>
