################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

**/.vs
**/bin
**/obj
**/jeebsconfig-secrets.json

.fake
.ionide
Libraries/.DS_Store
