################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

**/.DS_Store
**/.vs
**/bin
**/obj
**/jeebsconfig-secrets.json

.fake
.ionide
/Local.pack.props
/Local.push.props
