[*.cs]

# Add file header
file_header_template = Jeebs Unit Tests\nCopyright (c) bfren - licensed under https://mit.bfren.dev/2013

# RCS1021: Convert lambda expression body to expression-body.
dotnet_diagnostic.RCS1021.severity = none

# RCS1032: Remove redundant parentheses.
dotnet_diagnostic.RCS1032.severity = none

# RCS1118: Mark local variable as const.
dotnet_diagnostic.RCS1118.severity = none

# RCS1197: Optimize StringBuilder.Append/AppendLine call.
dotnet_diagnostic.RCS1197.severity = none
