[*.cs]

# Add file header
file_header_template = Jeebs Rapid Application Development\nCopyright (c) bcg|design - licensed under https://mit.bcgdesign.com/2013

# RCS1197: Optimize StringBuilder.Append/AppendLine call.
dotnet_diagnostic.RCS1197.severity = none

# RCS1229: Use async/await when necessary.
dotnet_diagnostic.RCS1229.severity = none
