@model AppMvc.Controllers.AuthController.UpdateUserModel

<form method="post" asp-action="UpdateUser">

	@Html.Hidden("id", Model.Id.Value)
	@Html.HiddenFor(m => m.Version)

	@Html.LabelFor(m => m.FriendlyName)
	@Html.EditorFor(m => m.FriendlyName)

	<input type="submit" value="Save" />

</form>
