[*.cs]

# Add file header
file_header_template = Jeebs Test Applications\nCopyright (c) bfren - licensed under https://mit.bfren.dev/2013

# RCS1197: Optimize StringBuilder.Append/AppendLine call.
dotnet_diagnostic.RCS1197.severity = none
