name: Publish

on:
  release:
    types: [published]

jobs:
  restore-build-pack-push:
    runs-on: ubuntu-latest
    steps:
    - 
      name: Prepare - Checkout Code
      uses: actions/checkout@v2
    -
      name: Prepare - Read Version
      uses: bencgreen/read-file-action@v1
      with:
        path: ./Version
      id: version
    - 
      name: Prepare - Setup .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: '5.0.x'
    - 
      name: A - Restore
      run: dotnet restore src/Pack.csproj
    - 
      name: B - Build
      run: dotnet build src/Pack.csproj --no-restore --configuration Release
    - 
      if: success()
      name: C - Pack
      run: dotnet pack src/Pack.csproj --no-build --configuration Release /p:PackageOutputPath=$HOME/.nupkgs -p:PackageVersion=${{ steps.version.outputs.content }}
    - 
      if: success()
      name: D - Push
      run: |
        dotnet nuget push "$HOME/.nupkgs/*.nupkg" --skip-duplicate --api-key ${{ secrets.NUGET_API_KEY }} --source https://api.nuget.org/v3/index.json
        dotnet nuget push "$HOME/.nupkgs/*.nupkg" --skip-duplicate --api-key ${{ secrets.GITHUB_TOKEN }} --source https://nuget.pkg.github.com/bencgreen/index.json
    - 
      if: success()
      name: Finish - Success
      uses: bencgreen/action-slack-notify@master
      env:
        SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK }}
        SLACK_USERNAME: Jeebs (GitHub)
        SLACK_MESSAGE: Publish Succeeded
        SLACK_COLOR: good
        SLACK_ICON: https://bcgdesign.com/img/logo-square-580x580.png
    - 
      if: failure()
      name: Finish - Failure
      uses: bencgreen/action-slack-notify@master
      env:
        SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK }}
        SLACK_USERNAME: Jeebs (GitHub)
        SLACK_MESSAGE: Publish Failed
        SLACK_COLOR: danger
        SLACK_ICON: https://bcgdesign.com/img/logo-square-580x580.png
